
body{
    font-family: -apple-system,sans-serif;
    padding: 0 1em;
    max-width: 55em;
    line-height: 1.42;
    margin: auto;
    color: #000;
}

hr{
    border: 1px solid #eee;
}

p{
margin: .5em 0;
padding: 0;
text-align: justify;
}

h1,h2,h3{ 
    font-weight: 500;
}

h1{
    font-size: 1.55em;
}

.date{
    color: grey;
    width: 90px;
    float: left;
}

h2{
    margin-top: 2em;
    font-size: 1.3em;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2:first-child{
    margin-top: 0em;
}

ol,ul{
    list-style-position: initial;
    padding-left: 1.5em;
}


li{
    margin: 1em 0;
}

a{
    color: #777;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #333;
}

nav > a{
    margin-right: .7em;
}

@media (max-width:1100px) {
    body{
        max-width: 100%;
    }
}

.project_item{
padding-left: 1em;
border-left: 3px solid #eee;
margin-bottom: 1em;
}


.article > div:nth-child(2){
    /*font-style: italic;*/
    font-size: .98em;
}
.article > div:nth-child(3){
    color: #888;
    font-size: .95em;
}
